html, body { padding: 0; margin: 0;}

body { padding-top: 50px; }


h1, h2, h3, h4, h5, h6 {
	margin: 5px 0;
}

.breadcrumb {
	padding: 4px 7px;
	margin-bottom:10px;
}


.nav-tabs>li>a {
	padding-top: 4px;
	padding-bottom: 4px;
}

.box .box-header .title, .box .box-footer .title {
	padding:6px;
}


.tags .badge {
	padding: 0px 4px ;
}

.padded {
	padding: 7px;
}

.box .box-header .box-toolbar > li, .box .box-footer .box-toolbar > li {
	padding-top: 6px;
	line-height: 0px;
}



.table th {
	padding: 3px;
}

.table td {
	padding: 3px;
}

form {
	margin: 0 0 10px;
}


.form-horizontal .control-group {
	margin-bottom: 10px;
}

.form-actions {
	padding: 10px 10px 10px;
}

dl {
	margin-bottom: 10px;
}

.infocell {
	padding: 2px;
}

.navbar .brand {
	padding: 6px 20px 4px;
}


.btn-spacer {
	margin-bottom:5px;
}

hr {
	margin: 10px 0;
}
